@import "../scss/custom.scss";

@import "../scss/bootstrap/bootstrap";

@import url('http://fonts.googleapis.com/css?family=Lato|Raleway');
// @import "../scss/bootstrap/variables";
// @import "../scss/bootstrap/mixins";

// @import "../scss/bootstrap/reboot";
// @import "../scss/bootstrap/type";
// @import "../scss/bootstrap/images";
// @import "../scss/bootstrap/code";
// @import "../scss/bootstrap/grid";

//////header
body{
    font-family: "Lato";
}

a{
    color: black !important;
    flex-wrap: nowrap;
    &:hover{
        color: #ff3801 !important;
        text-decoration: none;
    }
}

.header{
    margin-left: 0;
    font-size: 13px;
    &__button{
        border: 1px solid #ebedee;
        font-weight: 500;
        &:before{
            content:'';
            display: inline-block;
            vertical-align: middle;
            width: 17px;
            height: 17px;
        }
        &-enter:before{
            background: url("../images/logIn-btn.png") 0 0 no-repeat;
        }
        &-wishlist:before{
            background: url("../images/wishlist-btn.png") 0 0 no-repeat;
        }
        &-cart{
            background-color: #ff3801;
            color: #fff;
            &:before{
                background: url("../images/busket-btn.png") 0 0 no-repeat;
            }
        }
    }
    &__phone{
        font-size: 18px;
        &-callback span{
            color: #fff;
            font-size: 12px;
            background-color: #89c238;
            padding: 8px 12px 10px 15px;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
        }
    }
    &__logo{
        text-align: center;
    }
    &__search{
        position: relative;
        &-input{
            padding-left: 1.8rem;
            height: 30px;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            border: 1px solid #dee1e3;
        }       
        &-btn{
            position: absolute;
            background-color: transparent;
            left: 0;
            top: 5px;
            border: none;
            &:before{
                content:'';
                display: inline-block;
                vertical-align: middle;
                width: 17px;
                height: 17px;
                background: url("../images/search.png") 0 0 no-repeat;
            }
        }
    }
}
.menu{
    border-top: 1px solid #ebedee;
    border-bottom: 1px solid #ebedee;
    padding-left: 0;
    &__nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item{
            font-size: 16px;
        }
    }
}
.navbar-toggler{
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

@media(max-width: 320px){
    .header{
        &__phone{
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin-top: 0.25rem !important;
            margin-bottom: 0.25rem !important;
            a{
                margin: 0 0 0 7px;
            }
            &-callback span{
                font-size: 12px;
                padding: 8px 12px 6px 15px;
                border-radius: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                -o-border-radius: 0;
            }
        }
        &__buttons{
            width: 16.8%;
            display: flex;            
        }
        &__button-cart{
            background-color: #fff;
            border: none;
            border-top: 1px solid #ebedee;
            border-bottom: 1px solid #ebedee;
            &:before{
                vertical-align: middle;
                width: 25px;
                height: 25px;
                background: url("../images/busket-btn-red.png") no-repeat 50%;
            }
        }
        &__logo{
            width: 64.2%;
            padding-top: 0.5rem !important;
            padding-bottom: 0.3rem !important;
            border: 1px solid #ebedee;

        }
        &__menu, &__button-enter, &__button-wishlist{
            display: none;
        }
    }
    .navbar-toggler{
        border: none;
    }
    .menu{
        padding-top: 0.5rem;
        width: 16.8%;
    }
}

@media(max-width: 1000px){
    .header{
        &__phone{
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            padding-top: 1rem !important;
            padding-bottom: 0.5rem !important;
        }
    }            
}


